<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.name }} - {{ page.title }}</title>
		<link href="{{ site.url }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.url }}css/syntax.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.url }}css/style.css" rel="stylesheet" type="text/css" />

		{% if site.analytics %}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{ site.analytics }}']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		{% endif %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="wrap" class="container">
			<div id="heading" class="row">
				<div class="col-xs-12 col-md-12 col-sm-21 text-center">
					<h1><a href="{{ site.url }}">{{ site.header.text }}</a></h1>
					
					{% if site.header.subtext %}
					<h6 class="text-muted">{{ site.header.subtext }}</h6>
					{% endif %}
				</div>
			</div> <!-- heading -->

			<div id="content" class="container">